
body{
	background-color: gray;
	font-family: arial;
}

form{
	display:inline-block;
	border: 3px solid yellow;
	margin: 10px 5px 10px 10px;
	width: 180px;
}

.title{
	color:purple;
	font-size: 40px;
	display: block;
	text-align: center;
	
}

img{
	width: 300px;
	height: 300px;
	margin-left: 40%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: block;
}

p{
	color:white;
	display: inline-block;
	margin: 0 0 0 0;
}

ul li{
	color: white;
	font-size: 30px
}

label{
	color: purple;
	font-size: 20px;
	margin-left: 20%;
	vertical-align: center;
	
}
h1{
	font-size: 40px;
	text-align: center;
	width: 100%;
}

h2{
	margin-left: 50px;
	display: inline-block;
}

h3{
	margin-left: 10px;
	text-align: center;
}

#gold{
	margin-right: 40%;
	width: 200px;
}

input, select, textarea{
	border:2px solid black;
	border-radius: 5px;
	margin: 0 10px 10px 40px;
	width: 100px;
}
.messageWon{
	background-color: green;
	font-size: 20px;
	display: block;
	border: 2px solid black;
	width: 300px;
	height:200px;
	margin:0 0 0 30%;
	margin-bottom: 20px;
}
.message{
	background-color: red;
	font-size: 20px;
	display: block;
	border: 2px solid black;
	width: 300px;
	height:200px;
	margin:0 0 0 30%;
	margin-bottom: 20px;
}


#comment{
	height: 100px;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: top;

}
button{
	background-color: black;
	color:white;
	border:2px solid black;
	border-radius: 20px;
	display: block;
	text-align: center;
	margin-left: 40%;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 150px;
	
}

.container{
	border:2px solid black;
	margin:10px 100px 10px 50px;
}

#secondDiv{
	height:200px;
    overflow:scroll;
    overflow-x:hidden;
}
.green{
	color: green;

}

.red{
	color: red;

}