
body{
	background-color: gray;
	font-family: arial;
}
.title{
	color:purple;
	font-size: 40px;
	display: block;
	text-align: center;
	
}

.tabletitle{
	margin: 5px 30px 10px 50px ;
	color:white;
}
.tablevalue{
	margin: 5px 30px 10px 50px ;
	color:black;
}

.imagen{
	width: 300px;
	height: 300px;
	margin-left: 40%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url(github.png);
	display: block;
}

p{
	color:white;
	display: inline-block;
	margin: 0 0 0 0;
}

ul li{
	color: white;
	font-size: 30px
}

label{
	color: purple;
	font-size: 20px;
	margin-left: 20%;
	vertical-align: center;
	
}

h2{
	margin-left: 100px;
}

input, select, textarea{
	border:2px solid black;
	border-radius: 5px;
	margin-right: 35%;
	margin-bottom: 20px;
	width: 200px;
}	
#comment{
	height: 100px;
	margin-bottom: 0;
	display: inline-block;
	vertical-align: top;

}
button{
	background-color: black;
	color:white;
	border:2px solid black;
	border-radius: 20px;
	display: block;
	text-align: center;
	margin-left: 40%;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

.container{
	border:2px solid black;
	margin:50px 100px 100px 50px;
}