<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
</head>
<body>
	<h3>I'm a Python Developer..... Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum reprehenderit quasi hic, quo placeat. Magni a accusamus iste veniam dolores odit harum? Consequatur iusto quam dolores, itaque vel cumque in quasi iste rem eaque quas! Perspiciatis, minima eligendi deleniti, culpa dolore a optio molestiae omnis provident tempora voluptatibus rerum iusto.</h3>
</body>
</html>

 